<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    
    <div id="wrapper">
      <div id="header">

        <h1 id="site-title">
          <a href="/">{{ site.name }}</a>
        </h1>
        <div id="tagline"></div>

        <div class="menu-header">
          <ul id="menu-%e8%8f%9c%e5%8d%95" class="menu">
            <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="/">首页</a></li>
            <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="http://121.199.42.244/?page_id=54">关于尹口</a></li>
            <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="http://121.199.42.244/?page_id=59">服务报价</a></li>
            <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a href="http://121.199.42.244/?page_id=57">联系我们</a></li>
          </ul>
        </div>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <div id="footer">
      <strong><a href="http://121.199.42.244/" title="尹口影像" rel="home">尹口影像</a></strong>
      <br>
      <script src="http://s4.cnzz.com/stat.php?id=3882387&amp;web_id=3882387&amp;show=pic" language="JavaScript"></script>      </div>

    </div>

  </body>
</html>
